html {
    height: 100%;
}

body {
    overflow : visible;
    height: 100%;
    overflow-y : hidden;
    overflow-x : hidden;
}

div {
    margin: 0;
    display: block;
}

#title {
    height: 10%;
    float: top;
}

#main {
    position: relative;
    height: 90%;
}

#nav {
    width: 248px;
    float: left;
    height: 100%;
    overflow-y : auto;
    overflow-x : hidden;
}

#content {
    margin-left: 248px;
    min-width: 700px;
    height: 100%;
    zoom: 1;
    overflow-y : auto;
    overflow-x : hidden;
}


