<H2>CTCGator</H2>

<form action="/login" method="post">
    <label for="user_name">User Name:</label><br />
    <input id="user_name" name="user[name]" type="text" value="" />
    <br />

    <label for="user_password">Password:</label><br />
    <input id="user_password" name="user[password]" type="text" value="" />
    <br />

    <input type="submit" value="Login" />
</form>   
