<div id="title">Importing</div>
<div id="main">
<p>Importing feeds from Google Reader. This may take a few minutes.</p>
</div>
<script type="text/javascript" src="/script/jquery-2.0.2.js"></script>
<script type="text/javascript" src="/script/spin.js"></script>
<script type="text/javascript" src="/script/jquery.spin.js"></script>
<script>
    $(window).load(function() {
        $("#main").spin();
        window.location = '/importdirectgoogle';
    });
</script>

<%
=begin
%>
<%
=end
%>
